*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main {

margin: auto;
margin-top:50px;

/* display: flex;
flex-wrap: wrap; */
height: 500px;
width: 500px;
border: 1px solid black;

}
.gridcontainer{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
}
.start{
  margin-top: 100px;
  margin-left: 200px;
  border-radius: 4px;
  padding: 2px;
  font-weight: bold;
  color: white;
  width: 80px;
  height: 40px;
  background-color: blue;
 animation: bouncing 1.5s ease-in-out infinite;
 
}
.clear{
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 4px;
    padding: 2px;
    font-weight: bold;
    color: white;
    width: 80px;
    height: 40px;
    background-color: blue;
   animation: bouncing 1.5s ease-in-out infinite;
   
  }
  .random{
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 4px;
    padding: 2px;
    font-weight: bold;
    color: white;
    width: 80px;
    height: 40px;
    background-color: blue;
   animation: bouncing 1.5s ease-in-out infinite;
   
  }
@keyframes bouncing {
    0%{
    transform: scale(1);
    box-shadow: 5px  20px rgba(0, 0, 0, 0.3);
    }
    100%{
     transform: scale(1.2);
     box-shadow: 5px  20px rgba(0, 0, 0, 0.1);
    }
}


